<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Christian</string>
	<string>Ron Anthony Bautista</string>
	<string>i_still_believe_in_u</string>
	<string>rose.buchanan</string>
	<string>tristan29photography</string>
	<string>SoulRiser</string>
	<string>francisca-s</string>
	<string>sualk61</string>
	<string>ajpscs</string>
	<string>laurence</string>
	<string>Halcon122</string>
	<string>1D110</string>
	<string>Jar</string>
</array>
</plist>
